<include file="Common:header"/>
    <!--content start-->
    <div id="content">
       <!--left-->
         <div class="left" id="about_me">
           <div class="weizi">
           <div class="wz_text">当前位置：<a href="#">首页</a>><h1>关于我</h1></div>
           </div>
           <div class="about_content">
             博主是一个草根站长，喜欢研究web后端技术和PHP技术。
           </div>
         </div>
         <!--end left -->
         <include file="Common:right"/>
         <div class="clear"></div>
         
    </div>
    <!--content end-->
    <include file="Common:footer"/>
    <script type="text/javascript">jQuery(".lanmubox").slide({easing:"easeOutBounce",delayTime:400});</script>
    <script  type="text/javascript" src="__PUBLIC__/Js/nav.js"></script>
</body>
</html>
