<include file="Common:top"/>
<script src="__PUBLIC__/Js/function.js" type="text/javascript"></script>
<include file="Common:header"/>
<script type="text/javascript">var IsPageHome="1";var Lanmu_Id="61";var Sublanmu_Id="0";ShowSubMenu(Lanmu_Id);</script>
<div class="banner"><p style="padding:0px 0 0px 0;width: 960px; border:0px solid #bddbf5;background: url(__PUBLIC__/Images/banner/banner.jpg) no-repeat 0px 0px; "><object classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000' codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0' width='960' height='385'>
<param name='movie' value='__PUBLIC__/Images/banner/swf3.swf'>
<param name='quality' value='high'>
<param name='wmode' value='transparent'/>
<embed src='__PUBLIC__/Images/banner/swf3.swf' quality='high' wmode='transparent' pluginspage='http://www.macromedia.com/go/getflashplayer' type='application/x-shockwave-flash'  width='960' height='385'>
</embed></object></p></div>
<div class="main_box main_box_style2">
 <div class="main_box_inner">
  <div class="main_box_inner_left">
    
<div id="module_180" style="width:48%;" class="module_box_layout_left">
 <div class="module_box_inner">
   <div class="module_title"><span class="module_sign">酒店图片</span><span class="module_more"><a href=#><img border="0" alt="" src="__PUBLIC__/Images/more.jpg" /></a></span></div>
   <div id="module_content_180" class="module_content">
<div id="m_180" style="width:100%" class="自行定义样式">
<table border=0 align=center style="padding:2px">
<tr>

<td align=center style="padding:2px" >
<a href="#" target="_self"><img src="__ROOT__/webuploader/server/upload/tpic_t_18225122.jpg" border="0" style="width:150px;height:105px;"></a>
<br>
<a href="#" target="_self" title="酒店客房">酒店客房</a>
</td>

<td align=center style="padding:2px" >
<a href="#" target="_self"><img src="__ROOT__/webuploader/server/upload/18143853.jpg" border="0" style="width:150px;height:105px;"></a>
<br>
<a href="#" target="_self" title="豪华双人房">豪华双人房</a>
</td>

<td align=center style="padding:2px" >
<a href="#" target="_self"><img src="__ROOT__/webuploader/server/upload/18143835.jpg" border="0" style="width:150px;height:105px;"></a>
<br>
<a href="#" target="_self" title="豪华单人房">豪华单人房</a>
</td>

<td align=center style="padding:2px" >
<a href="#" target="_self"><img src="__ROOT__/webuploader/server/upload/t_18143716.jpg" border="0" style="width:150px;height:105px;"></a>
<br>
<a href="#" target="_self" title="豪华套间">豪华套间</a>
</td>

<td align=center style="padding:2px" >
<a href="#" target="_self"><img src="__ROOT__/webuploader/server/upload/18143658.jpg" border="0" style="width:150px;height:105px;"></a>
<br>
<a href="#" target="_self" title="高级双人房">高级双人房</a>
</td>

<td align=center style="padding:2px" >
<a href="#" target="_self"><img src="__ROOT__/webuploader/server/upload/18143632.jpg" border="0" style="width:150px;height:105px;"></a>
<br>
<a href="#" target="_self" title="标准大房间">标准大房间</a>
</td>

<td align=center style="padding:2px" >
<a href="#" target="_self"><img src="__ROOT__/webuploader/server/upload/18143553.jpg" border="0" style="width:150px;height:105px;"></a>
<br>
<a href="#" target="_self" title="标准双人房">标准双人房</a>
</td>

<td align=center style="padding:2px" >
<a href="#" target="_self"><img src="__ROOT__/webuploader/server/upload/tpic_t_18143513.jpg" border="0" style="width:150px;height:105px;"></a>
<br>
<a href="#" target="_self" title="豪华双人房">豪华双人房</a>
</td>

</tr>
</table>
</div>
<script type="text/javascript">
new Marquee("m_180","left"); //new Marquee简单调用，第一个参数必填，第二个为滚动方向
</script></div>
   <div class="module_footer"><span class="l"></span><span class="r"></span></div>
 </div>
</div>

<div id="module_177" style="width:51%;background-color:#381904;" class="module_box_layout_right">
 <div class="module_box_inner">
   <div id="module_content_177" style="padding:5px 5px 11px 15px;" class="module_content module_content_introduct">
<div style="line-height:200%;">
	<span style="font-size:14px;"><span style="line-height:200%;"><strong>关于我们</strong></span></span>
</div>
<div style="line-height:200%;text-indent:21pt;">
	<span style="line-height:200%;font-weight:normal;">SEO</span><span style="line-height:200%;font-weight:normal;">酒店管理有限公司系广东省规模最大、发展最快的旅游企业之一，经营效益和品牌美誉度均居福建省旅游业领先水平。作为富有航空特色的中高档商务型连锁专业酒店管理集团，xx酒店依托航空业主，秉承&nbsp;“真诚、和谐、务实、创新”。</span>
</div>
<div style="line-height:200%;text-indent:21pt;">
	<span style="line-height:200%;font-weight:normal;">酒店设有华厅中餐厅、咖啡厅西餐厅和沙滩火锅吧3个餐厅，为您精选奉上粤、川等中国地道菜品和意大利、美国等欧洲美食。晚上，海边、泳池旁，美妙幻律，四处飘香，静候您光临。</span>
</div>
   </div>
   <div class="module_footer"><span class="l"></span><span class="r"></span></div>
 </div>
</div>
  </div>
   <div class="main_box_inner_right">
     <div id="nav_164" style="margin:10px 0 0 0" class="nav_box">
<div class="nav_title"><span class="nav_sign">精彩瞬间</span><span class="nav_more"></span></div>
<div id="nav_conent_164" style="padding:12px 7px 5px 7px" class="nav_content nav_content_introduct">
      <foreach name="news" item='v'>
      <dd>
       <a href="{:U('News/news',array('id'=>$v['id']))}" target='_blank'>{$v.title}</a>
      </dd>
      </foreach>
</div>
</div>
</div>
 </div>
 <div class="clear main_box_inner_bottom"></div>
</div>
<include file="Common:bottom"/>