<include file="Common:header"/>
    <!--content start-->
    <div id="content">
       <!--left-->
         <div class="left" id="guestbook">
           <div class="weizi">
           <div class="wz_text">当前位置：<a href="#">首页</a>><h1>留言板</h1></div>
           </div>
           <div class="g_content"> 
             <h3>添加新评论</h3>
             <form action="{:U('Message/runList')}" method="post">
             <div id="left1">    
                <textarea style="width:510px;height:100px" name="content"></textarea>
             </div>
             <div id="right1"> 
                <label for="author">称呼</label>
                <input type="text" name="author"/>
                <label for="email">邮箱</label>
                <input type="text" name="email"/>
                <input type="submit" value="提交评论"/>
             </div> 
             </form>          
           </div>
           <div id="comment"><hr><br/>
            <h3>已有2条评论</h3>
            <foreach name="liuyan" item='v'>
            <hr>
            <div id="photo"><img src="__PUBLIC__/Images/louzhu.jpg"/></div>
            <div id="list">{$v.name}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$v.time|date="y-m-d",###}</div>
            <div id="list1">{$v.content}<hr></div>
            <div id="answer"><img src="__PUBLIC__/Images/p4.jpg"/></div>
            <div id="list2">admin&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2015-10-29</div>
            <div id="list3">感谢支持哦<hr></div>
            </foreach>
           </div>
         </div>
         <!--end left -->
         <include file="Common:right"/>
         <div class="clear"></div>
         
    </div>
    <!--content end-->
    <include file="Common:footer"/>
    <script type="text/javascript">jQuery(".lanmubox").slide({easing:"easeOutBounce",delayTime:400});</script>
    <script  type="text/javascript" src="__PUBLIC__/Js/nav.js"></script>
</body>
</html>

