<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>唐波的博客</title>
<meta name="keywords" content="个人博客" />
<meta name="description" content="" />
<link rel="stylesheet" href="__PUBLIC__/Css/index.css"/>
<link rel="stylesheet" href="__PUBLIC__/Css/style.css"/>
<script type="text/javascript" src="__PUBLIC__/Js/jquery1.42.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/jquery.SuperSlide.2.1.1.js"></script>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->
</head>

<body>
    <!--header start-->
    <div id="header">
      <h1>唐波的博客</h1>
      <p>青春是打开了,就合不上的书。人生是踏上了，就回不了头的路，爱情是扔出了，就收不回的赌注。</p>    
    </div>
     <!--header end-->
    <!--nav-->
     <div id="nav">
        <ul>
         <li><a href="__APP__">首页</a></li>
         <foreach name="cate" item='v'>
           <li><a href="{:U($v['alias'].'/'.$v['id'])}">{$v.name}</a></li>
         </foreach>
         <div class="clear"></div>
        </ul>
      </div>
       <!--nav end-->