<include file="Common:top"/>
<include file="Common:header"/>
<script type="text/javascript">var IsPageHome="";var Lanmu_Id="65";var Sublanmu_Id="534";ShowSubMenu(Lanmu_Id);</script>
<div class="banner"><p style="padding:0px 0 0px 0;width:960px;border:0px solid #bddbf5;background:url(__PUBLIC__/Images/banner/banner1.jpg) no-repeat 0px 0px;">
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" height="219" width="960">
    <param name="movie" value="__PUBLIC__/Images/banner/swf3.swf" />
<param name="quality" value="high" />
<param name="wmode" value="transparent" />
<embed src="__PUBLIC__/Images/banner/swf3.swf" quality="high" wmode="transparent" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="960" height="219" />
  </object>
</p></div>
<div class="main_box main_box_style1">
 <div class="main_box_inner">
   <div class="main_box_inner_left">

<div id="nav_108"  class="nav_box nav_box_menu">

<div class="nav_title"><span  class="nav_sign">联系我们</span><span  class="nav_more"></span></div>
<div id="nav_menu_108"  class="nav_menu">
<ul id="rootul_108">
<li id="sl534"><a href="{:U('Contact/index')}" class="sla534">联系方式</a></li>
<li id="sl535"><a href="{:U('Contact/contact')}" class="sla535">在线留言</a></li>
<li id="sl535"><a href="{:U('Contact/board')}" class="sla535">留言板</a></li>
</ul>
</div></div>
<script type="text/javascript">
shut_allsubnav("rootul_108");
expand_subnav("sl534","0");
</script>
</div>
   <div class="main_box_inner_right">
<div class="current_location current_location_534"><ul><li class="current_location_1">当前位置：<a href=/>首页</a> &gt; <a href="../contact/">联系我们</a> &gt; <a href="../contact/contact">联系方式</a></li><li class="current_location_2">联系方式</li></ul></div>
<div class="sublanmu_box sublanmu_box_534">
<div class="sublanmu_content sublanmu_content_introduct"><style type="text/css">
.lxtable{border-collapse:collapse;border:1px solid #856E3A;width:100%}
.lxtable td{border:1px solid #856E3A;padding:5px}</style>
<table class="lxtable" align="center" cellpadding="5" cellspacing="0" width="99%">
  <tbody>
    <tr class="L15">
      <td height="21" width="20%">
        <div align="center">
          公司名称：
        </div>
      </td>
      <td height="21" width="80%">
        中山市华拓网络技术服务中心
      </td>
    </tr>
    <tr class="L15">
      <td width="20%">
        <div align="center">
          通讯地址：
        </div>
      </td>
      <td width="80%">
        广东省中山市南头金湾广场B座16号
      </td>
    </tr>
    <tr class="L15">
      <td>
        <div align="center">
          邮政编码：
        </div>
      </td>
      <td>
        528427
      </td>
    </tr>
    <tr class="L15">
      <td width="20%">
        <div align="center">
          销售电话：
        </div>
      </td>
      <td width="80%">
        0760-22517081 转881、882、883
      </td>
    </tr>
    <tr class="L15">
      <td width="20%">
        <div align="center">
          购买咨询：
        </div>
      </td>
      <td width="80%">
        <img alt="14837715" src="http://wpa.qq.com/pa?p=1:14837715:4" align="absMiddle" height="16" border="0" vspace="3" />14837715&nbsp; <img alt="14837715" src="http://wpa.qq.com/pa?p=1:523108134:4" align="absMiddle" height="16" border="0" vspace="3" />523108134
      </td>
    </tr>
    <tr class="L15">
      <td width="20%">
        <div align="center">
          传真号码：
        </div>
      </td>
      <td width="80%">
        0760-86744123
      </td>
    </tr>
  </tbody>
</table>
<p>
  &nbsp;
</p></div>
</div></div>
 </div>
 <div class="clear main_box_inner_bottom"></div>
</div>
<include file="Common:bottom"/>