<include file="Common:top"/>
<include file="Common:header"/>
<script type="text/javascript">var IsPageHome="";var Lanmu_Id="62";var Sublanmu_Id="564";ShowSubMenu(Lanmu_Id);</script>
<div class="banner"><p style="padding:0px 0 0px 0;width:960px;border:0px solid #bddbf5;background:url(__PUBLIC__/Images/banner/banner1.jpg) no-repeat 0px 0px;">
	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" height="219" width="960">
		<param name="movie" value="__PUBLIC__/Images/banner/swf3.swf" />
<param name="quality" value="high" />
<param name="wmode" value="transparent" />
<embed src="__PUBLIC__/Images/banner/swf3.swf" quality="high" wmode="transparent" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="960" height="219" />
	</object>
</p></div>

<div class="main_box main_box_style1">
 <div class="main_box_inner">
   <div class="main_box_inner_left">

   	<include file="Common:left"/>

   	<div class="main_box_inner_right">
<div class="current_location current_location_756"><ul><li class="current_location_1">当前位置：<a href=/>首页</a> &gt; <a href="../jdkf/" class="cl_1">酒店客房</a> &gt; <a href="#">酒店客房</a></li><li class="current_location_2">酒店客房</li></ul></div>
<div class="sublanmu_box sublanmu_box_756">
<div class="sublanmu_content sublanmu_content_article">
<ul class="article_pic">

<li>
<a href="#" target="_self"><img src="__ROOT__/webuploader/server/upload/tpic_t_18225122.jpg" border="0" style="width:150px;height:150px;"></a>
<span class="title">
<a href="#" target="_self" title="酒店客房" style="">酒店客房</a></span>
</li>

<li>
<a href="#" target="_self"><img src="__ROOT__/webuploader/server/upload/18143853.jpg" border="0" style="width:150px;height:150px;"></a>
<span class="title">
<a href="#" target="_self" title="豪华双人房" style="">豪华双人房</a></span>
</li>

<li>
<a href="#" target="_self"><img src="__ROOT__/webuploader/server/upload/18143835.jpg" border="0" style="width:150px;height:150px;"></a>
<span class="title">
<a href="#" target="_self" title="豪华单人房" style="">豪华单人房</a></span>
</li>

<li>
<a href="#" target="_self"><img src="__ROOT__/webuploader/server/upload/t_18143716.jpg" border="0" style="width:150px;height:150px;"></a>
<span class="title">
<a href="#" target="_self" title="豪华套间" style="">豪华套间</a></span>
</li>

<li>
<a href="#" target="_self"><img src="__ROOT__/webuploader/server/upload/18143658.jpg" border="0" style="width:150px;height:150px;"></a>
<span class="title">
<a href="#" target="_self" title="高级双人房" style="">高级双人房</a></span>
</li>

<li>
<a href="#" target="_self"><img src="__ROOT__/webuploader/server/upload/18143632.jpg" border="0" style="width:150px;height:150px;"></a>
<span class="title">
<a href="#" target="_self" title="标准大房间" style="">标准大房间</a></span>
</li>

<li>
<a href="#" target="_self"><img src="__ROOT__/webuploader/server/upload/18143553.jpg" border="0" style="width:150px;height:150px;"></a>
<span class="title">
<a href="#" target="_self" title="标准双人房" style="">标准双人房</a></span>
</li>

<li>
<a href="#" target="_self"><img src="__ROOT__/webuploader/server/upload/t_18143513.jpg" border="0" style="width:150px;height:150px;"></a>
<span class="title">
<a href="#" target="_self" title="豪华双人房" style="">豪华双人房</a></span>
</li>

<li>
<a href="#" target="_self"><img src="__ROOT__/webuploader/server/upload/18143441.jpg" border="0" style="width:150px;height:150px;"></a>
<span class="title">
<a href="#" target="_self" title="双人房" style="">双人房</a></span>
</li>

</ul>
<div class="clear"></div>

</div>
</div></div>
 </div>
 <div class="clear main_box_inner_bottom"></div>
</div>
<include file="Common:bottom"/>
