<script type="text/javascript">
shut_allsubnav("rootul_104");
expand_subnav("sl564","0");
</script>
<embed src="http://player.youku.com/player.php/sid/XMzk4ODc0NzQw/v.swf" allowfullscreen="true" quality="high" width="210" height="190" align="middle" allowscriptaccess="always" type="application/x-shockwave-flash" style="margin-bottom:20px;" />

<div id="nav_130" class="nav_box">
<div class="nav_title"><span class="nav_sign">联系我们</span><span class="nav_more"></span></div>
<div id="nav_conent_130" class="nav_content nav_content_introduct"><img alt="" src="__PUBLIC__/Images/17171739.jpg" height="242" border="0" vspace="5" width="189" /><br />
地址：广东省中山市南头金湾广场<br />
客服：400-800-xxx<br />
Email：<a href="mailto:xxx@126">xxx@126</a>.com
</div></div>
</div>